@import "reset";
@import "variable";
@import "area";

#app, .app {
  height: 100%;
}

header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: right;
  background: $navBackground;
  letter-spacing: .5px;
  font-size: 20px;
  &.pc-nav li {
    @include verticalAlient();
    color: #fff;
  }
  a {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    margin: 0 3px;
    color: $navTextColor;
    border-radius: $littleRadious;
    font-size: $navFontSize;
    &:hover {
      @include hoverStyle();
    }
    &.active {
      @include hoverStyle();
    }
  }
}

.mobile-nav {
  display: none;
  padding: 0;
  overflow: hidden;
  a, li {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3.3rem;
    line-height: 3.3rem;
    border-radius: 0;
    float: left;
    border: none;
  }
  div {
    overflow: hidden;
    display: none;
    border: 1px solid $navBackground;
  }
  li {
    position: relative;
    text-align: center;
    color: #fff;
  }
  img {
    @include verticalAlient();
    right: 10px;
    width: 23px;
    cursor: pointer;
  }
}

/*响应式导航栏*/
@media screen and (max-width: 768px) {
  .mobile-nav {
    display: block;
  }
  .pc-nav {
    display: none;
  }
}
